# Web + API
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-dotenv>=1.0.0
python-multipart>=0.0.6
httpx>=0.27.0

# LlamaIndex + LangChain (Sin versiones estrictas para evitar conflictos)
llama-index-core
llama-index-llms-langchain
llama-index-readers-file
llama-index-workflows
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
deepagents
langchain-anthropic
# Google & Search
google-generativeai
tavily-python

# === TRUCO PARA RENDER: Versiones CPU ===
# Esto evita que descargue los drivers de NVIDIA
torch --index-url https://download.pytorch.org/whl/cpu
transformers
sentence-transformers
accelerate
